<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Résultats Candidats</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  </head>
  <body>
    <div>
      <canvas id="myChart"></canvas>
      <script src="{{url_for('static', filename='results.js')}}"></script>
      <script type="text/javascript">
        file = "{{url_for('static', filename='EventCandidatAResults.json')}}";

        function readTextFile(file) {
          var str = '';
          var txtFile = new File(file);
          txtFile.open('r');
          while (!txtFile.eof) {
            // read each line of text
            str += txtFile.readln() + '\n';
          }
          return str;
        }

        var datas = readTextFile(file);

        var myContext = document.getElementById('myChart');
        var myChart = new Chart(myContext, {
          type: 'bar',
          data: {
            labels: [
              'Qualité des tests',
              'Absence de plagiat',
              'Qualité de la syntaxe'
            ],
            datasets: [
              {
                label: 'Candidat 1',
                data: [6, 4, 3],
                backgroundColor: 'rgba(255, 99, 132, 0.2)'
              },
              {
                label: 'Candidat 2',
                data: [1, 2, 5],
                backgroundColor: 'rgba(54, 162, 235, 0.2)'
              },
              {
                label: 'Candidat 3',
                data: [4, 1, 2],
                backgroundColor: 'rgba(255, 206, 86, 0.2)'
              }
            ]
          },
          options: {
            title: {
              display: true,
              text: 'Résultats des candidats',
              fontSize: 40,
              fontStyle: 'bold',
              padding: 40
            },
            scales: {
              yAxes: [
                {
                  ticks: {
                    beginAtZero: true
                  }
                }
              ]
            },
            legend: {
              display: true,
              position: 'right',
              labels: {
                fontSize: 20,
                padding: 10
              }
            },
            layout: {
              padding: {
                left: 50,
                right: 50,
                top: 50,
                bottom: 50
              }
            }
          }
        });
      </script>
    </div>
  </body>
</html>
